# Вибір підключення (варіанти: local або railway)
ENVIRONMENT=local

# Локальні налаштування PostgreSQL
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432
LOCAL_DB_NAME=postgres
LOCAL_DB_USER=postgres
LOCAL_DB_PASSWORD=your_local_password

# Railway налаштування
RAILWAY_DB_HOST=junction.proxy.rlwy.net
RAILWAY_DB_PORT=19910
RAILWAY_DB_NAME=RailwayDB
RAILWAY_DB_USER=postgres
RAILWAY_DB_PASSWORD=your_railway_password
